In [1]:
import pptx
ppt = pptx.Presentation("ref.pptx")

In [3]:
import numpy as np
import pandas as pd

In [8]:
layouts = ppt.slide_layouts
for i, l in enumerate(layouts):
    
    print(f"Layout: {i} - {l.name}")
    
    arr = []
    
    slide = ppt.slides.add_slide(l)
    
    for j, p in enumerate(slide.placeholders):
        arr.append([j, p.name, p.placeholder_format.idx, layouts[i].placeholders[j].name, layouts[i].placeholders[j].placeholder_format.idx])
        
    df = pd.DataFrame(arr, columns=["index", "p_name on slide", "idx on slide", "p_name in layout", "idx in layout"])
    display(df)

Layout: 0 - Comparison

,index,p_name on slide,idx on slide,p_name in layout,idx in layout
0,0,Title 1,0,Title 1,0
1,1,Text Placeholder 2,1,Text Placeholder 2,1
2,2,Text Placeholder 4,3,Content Placeholder 6,10
3,3,Content Placeholder 5,4,Text Placeholder 4,3
4,4,Content Placeholder 3,10,Content Placeholder 5,4

Layout: 1 - Title Slide

   index p_name on slide  idx on slide p_name in layout  idx in layout
0      0         Title 1             0          Title 1              0

Layout: 2 - Title and Content

,index,p_name on slide,idx on slide,p_name in layout,idx in layout
0,0,Title 1,0,Title 1,0
1,1,Content Placeholder 2,1,Content Placeholder 2,1

Layout: 3 - Section Header

   index p_name on slide  idx on slide p_name in layout  idx in layout
0      0         Title 1             0          Title 1              0

Layout: 4 - Two Content

,index,p_name on slide,idx on slide,p_name in layout,idx in layout
0,0,Title 1,0,Title 1,0
1,1,Content Placeholder 2,1,Content Placeholder 2,1
2,2,Content Placeholder 3,2,Content Placeholder 3,2

Layout: 5 - Blank

Empty DataFrame
Columns: [index, p_name on slide, idx on slide, p_name in layout, idx in layout]
Index: []

Layout: 6 - Content with Caption

   index        p_name on slide  idx on slide p_name in layout  idx in layout
0      0                Title 1             0          Title 3              0
1      1  Content Placeholder 3            10      {"grow": 6}             11
2      2  Content Placeholder 2            11     {"align": 6}             10

Layout: 7 - examples

   index p_name on slide  idx on slide p_name in layout  idx in layout
0      0         Title 1             0          Title 1              0

In [ ]:
pp = ppt.core_properties
print(dir(pp))
print(f'pp.title: {pp.title}')
print(f'pp.subject: {pp.subject}')
print(f'pp.version: {pp.version}')
print(f'pp.part: {pp.part}')
print(f'pp.language: {pp.language}')
print(f'pp.author: {pp.author}')

['__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_blob', '_blob_from_file', '_content_type', '_element', '_new', '_package', '_partname', '_rel_ref_count', '_rels', 'author', 'blob', 'category', 'comments', 'content_status', 'content_type', 'created', 'default', 'drop_rel', 'identifier', 'keywords', 'language', 'last_modified_by', 'last_printed', 'load', 'load_rels_from_xml', 'modified', 'package', 'part', 'part_related_by', 'partname', 'relate_to', 'related_part', 'rels', 'revision', 'subject', 'target_ref', 'title', 'version']
pp.title: 노코드 엔지니어링
pp.subject:
pp.version:
pp.part: <pptx.parts.coreprops.CorePropertiesPart object at 0x0000022092679160>
pp.language:
pp.author: 문형 배

In [20]:
code = """def date():
    # 패턴 문자열로 정의합니다.
    # pattern = r'^\[(?P<key>[^\]]+)\]:\s*#\s*\((?P<value>[^)]+)\)\s*$'
    pattern = r'^\[(?P<key>[^\]]+)\]:\s*#\s*\((?P<value>.+)\)\s*$'
    # 콜백 함수는 (self, m, state)를 받고, 토큰을 상태에 추가한 후 새 커서 위치를 정수로 반환해야 합니다.
    def parse_comment_block(self, m, state):
        token = {
            'type': 'comment_block',
            'key': m.group('key'),
            'value': m.group('value'),
            'raw': m.group(0).replace('\n','')
        }
        state.append_token(token)
        return m.end()
    
    # 'ref_link'보다 먼저 처리되도록 등록합니다.
    md.block.register('comment_block', pattern, parse_comment_block, before='ref_link')
    return md
"""

In [21]:
from pygments import lex
from pygments.lexers import PythonLexer

def highlight_to_dict(code: str):
    """
    code 문자열을 토큰화한 후,
    [{'type': 'Token.Name.Function', 'value': 'foo'}, …] 형태의 리스트 반환
    """
    raw = lex(code, PythonLexer())
    return [
        {'type': str(ttype), 'value': value}
        for ttype, value in raw
    ]

# 사용 예
tokens = highlight_to_dict(code)
print(tokens)

[{'type': 'Token.Keyword', 'value': 'def'}, {'type': 'Token.Text.Whitespace', 'value': ' '}, {'type': 'Token.Name.Function', 'value': 'date'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Punctuation', 'value': ')'}, {'type': 'Token.Punctuation', 'value': ':'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '    '}, {'type': 'Token.Comment.Single', 'value': '# 패턴 문자열로 정의합니다.'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '    '}, {'type': 'Token.Comment.Single', 'value': "# pattern = r'^\\[(?P<key>[^\\]]+)\\]:\\s*#\\s*\\((?P<value>[^)]+)\\)\\s*$'"}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '    '}, {'type': 'Token.Name', 'value': 'pattern'}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Operator', 'value': '='}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Literal.String.Affix', 'value': 'r'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': '^'}, {'type': 'Token.Literal.String.Single', 'value': '\\'}, {'type': 'Token.Literal.String.Single', 'value': '[(?P<key>[^'}, {'type': 'Token.Literal.String.Single', 'value': '\\'}, {'type': 'Token.Literal.String.Single', 'value': ']]+)'}, {'type': 'Token.Literal.String.Single', 'value': '\\'}, {'type': 'Token.Literal.String.Single', 'value': ']:'}, {'type': 'Token.Literal.String.Single', 'value': '\\'}, {'type': 'Token.Literal.String.Single', 'value': 's*#'}, {'type': 'Token.Literal.String.Single', 'value': '\\'}, {'type': 'Token.Literal.String.Single', 'value': 's*'}, {'type': 'Token.Literal.String.Single', 'value': '\\'}, {'type': 'Token.Literal.String.Single', 'value': '((?P<value>.+)'}, {'type': 'Token.Literal.String.Single', 'value': '\\'}, {'type': 'Token.Literal.String.Single', 'value': ')'}, {'type': 'Token.Literal.String.Single', 'value': '\\'}, {'type': 'Token.Literal.String.Single', 'value': 's*$'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '    '}, {'type': 'Token.Comment.Single', 'value': '# 콜백 함수는 (self, m, state)를 받고, 토큰을 상태에 추가한 후 새 커서 위치를 정수로 반환해야 합니다.'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '    '}, {'type': 'Token.Keyword', 'value': 'def'}, {'type': 'Token.Text.Whitespace', 'value': ' '}, {'type': 'Token.Name.Function', 'value': 'parse_comment_block'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Name.Builtin.Pseudo', 'value': 'self'}, {'type': 'Token.Punctuation', 'value': ','}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'm'}, {'type': 'Token.Punctuation', 'value': ','}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'state'}, {'type': 'Token.Punctuation', 'value': ')'}, {'type': 'Token.Punctuation', 'value': ':'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '        '}, {'type': 'Token.Name', 'value': 'token'}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Operator', 'value': '='}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Punctuation', 'value': '{'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '            '}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'type'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ':'}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'comment_block'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ','}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '            '}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'key'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ':'}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'm'}, {'type': 'Token.Operator', 'value': '.'}, {'type': 'Token.Name', 'value': 'group'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'key'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ')'}, {'type': 'Token.Punctuation', 'value': ','}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '            '}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'value'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ':'}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'm'}, {'type': 'Token.Operator', 'value': '.'}, {'type': 'Token.Name', 'value': 'group'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'value'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ')'}, {'type': 'Token.Punctuation', 'value': ','}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '            '}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'raw'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ':'}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'm'}, {'type': 'Token.Operator', 'value': '.'}, {'type': 'Token.Name', 'value': 'group'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Literal.Number.Integer', 'value': '0'}, {'type': 'Token.Punctuation', 'value': ')'}, {'type': 'Token.Operator', 'value': '.'}, {'type': 'Token.Name', 'value': 'replace'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': ','}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': ')'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '        '}, {'type': 'Token.Punctuation', 'value': '}'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '        '}, {'type': 'Token.Name', 'value': 'state'}, {'type': 'Token.Operator', 'value': '.'}, {'type': 'Token.Name', 'value': 'append_token'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Name', 'value': 'token'}, {'type': 'Token.Punctuation', 'value': ')'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '        '}, {'type': 'Token.Keyword', 'value': 'return'}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'm'}, {'type': 'Token.Operator', 'value': '.'}, {'type': 'Token.Name', 'value': 'end'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Punctuation', 'value': ')'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '    '}, {'type': 'Token.Comment.Single', 'value': "# 'ref_link'보다 먼저 처리되도록 등록합니다."}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '    '}, {'type': 'Token.Name', 'value': 'md'}, {'type': 'Token.Operator', 'value': '.'}, {'type': 'Token.Name', 'value': 'block'}, {'type': 'Token.Operator', 'value': '.'}, {'type': 'Token.Name', 'value': 'register'}, {'type': 'Token.Punctuation', 'value': '('}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'comment_block'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ','}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'pattern'}, {'type': 'Token.Punctuation', 'value': ','}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'parse_comment_block'}, {'type': 'Token.Punctuation', 'value': ','}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'before'}, {'type': 'Token.Operator', 'value': '='}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Literal.String.Single', 'value': 'ref_link'}, {'type': 'Token.Literal.String.Single', 'value': "'"}, {'type': 'Token.Punctuation', 'value': ')'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}, {'type': 'Token.Text', 'value': '    '}, {'type': 'Token.Keyword', 'value': 'return'}, {'type': 'Token.Text', 'value': ' '}, {'type': 'Token.Name', 'value': 'md'}, {'type': 'Token.Text.Whitespace', 'value': '\n'}]

In [27]:
list = set([token['type'] for token in tokens])
list

{'Token.Comment.Single',
 'Token.Keyword',
 'Token.Literal.Number.Integer',
 'Token.Literal.String.Affix',
 'Token.Literal.String.Single',
 'Token.Name',
 'Token.Name.Builtin.Pseudo',
 'Token.Name.Function',
 'Token.Operator',
 'Token.Punctuation',
 'Token.Text',
 'Token.Text.Whitespace'}