In [7]:
import pptx
ppt = pptx.Presentation("ref__.pptx")

In [3]:
import numpy as np
import pandas as pd

In [8]:
layouts = ppt.slide_layouts
for i, l in enumerate(layouts):
    
    print(f"Layout: {i} - {l.name}")
    
    arr = []
    
    slide = ppt.slides.add_slide(l)
    
    for j, p in enumerate(slide.placeholders):
        arr.append([j, p.name, p.placeholder_format.idx, layouts[i].placeholders[j].name, layouts[i].placeholders[j].placeholder_format.idx])
        
    df = pd.DataFrame(arr, columns=["index", "p_name on slide", "idx on slide", "p_name in layout", "idx in layout"])
    display(df)

Layout: 0 - Comparison

,index,p_name on slide,idx on slide,p_name in layout,idx in layout
0,0,Title 1,0,Title 1,0
1,1,Text Placeholder 2,1,Text Placeholder 2,1
2,2,Text Placeholder 4,3,Content Placeholder 6,10
3,3,Content Placeholder 5,4,Text Placeholder 4,3
4,4,Content Placeholder 3,10,Content Placeholder 5,4

Layout: 1 - Title Slide

   index p_name on slide  idx on slide p_name in layout  idx in layout
0      0         Title 1             0          Title 1              0

Layout: 2 - Title and Content

,index,p_name on slide,idx on slide,p_name in layout,idx in layout
0,0,Title 1,0,Title 1,0
1,1,Content Placeholder 2,1,Content Placeholder 2,1

Layout: 3 - Section Header

   index p_name on slide  idx on slide p_name in layout  idx in layout
0      0         Title 1             0          Title 1              0

Layout: 4 - Two Content

,index,p_name on slide,idx on slide,p_name in layout,idx in layout
0,0,Title 1,0,Title 1,0
1,1,Content Placeholder 2,1,Content Placeholder 2,1
2,2,Content Placeholder 3,2,Content Placeholder 3,2

Layout: 5 - Blank

Empty DataFrame
Columns: [index, p_name on slide, idx on slide, p_name in layout, idx in layout]
Index: []

Layout: 6 - Content with Caption

   index        p_name on slide  idx on slide p_name in layout  idx in layout
0      0                Title 1             0          Title 3              0
1      1  Content Placeholder 3            10      {"grow": 6}             11
2      2  Content Placeholder 2            11     {"align": 6}             10

Layout: 7 - examples

   index p_name on slide  idx on slide p_name in layout  idx in layout
0      0         Title 1             0          Title 1              0